@import url("style.css");
@charset "utf-8";
/*===== reset =====*/
html, body, div, p, h1, h2, h3, h4, h5, h6, blockquote,ol, ul, li, dl, dt, dd, form, fieldset, legend, button, input, textarea, pre, code, th, td{margin:0; padding:0;}
body, button, input, select, textarea{font:14px/1.5 tahoma,arial,\5b8b\4f53; background:#fff;color:#333; font-family:"Microsoft Yahei", Arial;}
body {background:#f3f4f8;}
button,input,select, textarea{font-size:100%;}
input, img, select {vertical-align:middle;}
input::-ms-clear, input::-ms-reveal{display: none;}
iframe{display:block}
h1, h2, h3, h4, h5, h6{ font-size:100%;}
ul, ol, li{list-style:none;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
code, kbd, pre, samp{font-family:courier new,courier, monospace;} 
small {font-size:12px;}
legend{color:#000000;}
fieldset,img{border:0;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit}
:focus{outline:0;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';}
a{text-decoration:none;color:#333;}
a:hover{color:#f37d0a;text-decoration:none;}

.f12{font-size:12px}.f13{font-size:13px;}.f14{font-size:14px;}.f18{font-size:18px;}.f16{font-size:16px;}.f20{font-size:20px;}.f24{font-size:24px;}.f36{font-size:36px;}
.fl{float:left;}.fr{float:right;}
.bold{font-weight:bold;}
.num{font-family:Arial;}
.pr{ position:relative;}
.noborder{ border:none !important;}
.border_b{ border-bottom:1px solid #e1e1e1;}
.tc{ text-align:center;}
.tr{ text-align:right;}

/*===== clearfix =====*/
.clearfix:after {content:"\200B";display:block;height:0;clear:both;}
.clearfix {*zoom:1;}
.clear{clear:both;line-height:0;}

/*margin*/
.m10{margin:10px}.m15{margin:15px}.m30{margin:30px}.mt5{margin-top:5px}.mt51{margin-top: 5px;*margin-top:0px}.mt5{margin-tip:5px}.mt10{margin-top:10px}.mt15{margin-top:15px}.mt20{margin-top:20px}.mt25{margin-top:25px}.mt30{margin-top:30px}.mt40{margin-top:40px}.mt50{margin-top:50px}.mt100{margin-top:100px}.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px}.mb15{margin-bottom:15px}.mb20{margin-bottom:20px}.mb30{margin-bottom:30px}.mb40{margin-bottom:40px}.mb50{margin-bottom:50px}.mb100{margin-bottom:100px}.ml5{margin-left:5px}.ml10{margin-left:10px}.ml12{margin-left:12px}.ml15{margin-left:15px}.ml20{margin-left:20px}.ml30{margin-left:30px}.ml40{margin-left:40px}.ml50{margin-left:50px}.ml100{margin-left:100px}.mr5{margin-right:5px}.mr10{margin-right:10px}.mr15{margin-right:15px}.mr20{margin-right:20px}.mr30{margin-right:30px}.mr40{margin-right:40px}.mr50{margin-right:50px}.mr100{margin-right:100px}.ml80{margin-left:80px}

/*padding*/
.p10{padding:10px;}.p15{padding:15px;}.p30{padding:30px;}.pt5{padding-top:5px}.pt10{padding-top:10px}.pt15{padding-top:15px}.pt20{padding-top:20px}.pt30{padding-top:30px}.pt40{padding-top:40px}.pt50{padding-top:50px}.pb5{padding-bottom:5px}.pb10{padding-bottom:10px}.pb15{padding-bottom:15px}.pb20{padding-bottom:20px}.pb30{padding-bottom:30px}.pb40{padding-bottom:40px}.pb50{padding-bottom:50px}.pb100{padding-bottom:100px}.pl5{padding-left:5px}.pl10{padding-left:10px}.pl15{padding-left:15px}.pl20{padding-left:20px}.pl30{padding-left:30px}.pl40{padding-left:40px}.pl50{padding-left:50px}.pl100{padding-left:100px}.pr5{padding-right:5px}.pr10{padding-right:10px}.pr15{padding-right:15px}.pr20{padding-right:20px}.pr30{padding-right:30px}.pr40{padding-right:40px}.pr50{padding-right:50px}.pr100{padding-right:100px}

/*font color*/
.red{color:#ff0000;}
.blue{color:#017cae;}
.blue_ls{ color:#024783;}
.green{color:#009f4b;}
.orange {color:#eb6d09;}
.gray9{ color:#999;}
.gray6{color:#666;}
.white{color:#fff;}
.ln30{ line-height:30px;}

.w1002{width:1002px; margin:0 auto;}
.w707{ width:707px; float:left;}
.w280{ width:280px; float:right;}
.w202{ width:202px; float:left;}
.w230{ width:202px; float:left;}
.w790{ width:790px; float:right;}
.w190{ width:190px;}
.w250{ width:250px;}

/*top_bar*/
.top_bar{ width:100%;height:40px; line-height:40px; background:#f8f8f9; border-bottom:1px #ddd solid;}
.top_bar .fl{ overflow:hidden; height:40px;}
.top_bar .nav li{float:left; margin:0 5px}
.top_bar .nav li a{padding:0 5px;}
.top_bar .nav li a:hover{ background:#2b9eea; display:block; height:40px; color:#333;}
.top_bar .nav li a i{ width:12px; height:10px; float:right; margin-top:18px;}
.top_bar .nav li a i:hover{background:url(../images/common.png) no-repeat 0 -84px; }
.top_bar .nav li i{background:url(../images/common.png) no-repeat 0 -84px; width:12px; height:10px; float:right; margin-top:18px;}
.top_bar .Share01,.top_bar .Share02,.top_bar .Share03{background:url("../images/common.png") no-repeat; width:33px; height:33px; float:left; margin:5px 0 0 5px;}
.top_bar .Share01{ background-position:0 -142px;}
.top_bar .Share02{ background-position:-38px -141px;}
.top_bar .Share03{ background-position:-74px -141px;}
.coad{ position: absolute; margin:5px 0 0 -60px; z-index:30;}

/*top_bar*/
.top_bar{ width:100%;height:40px; line-height:40px; background:#f8f8f9; border-bottom:1px #ddd solid;}
.top_bar .fl{ overflow:hidden; height:40px;}
.top_bar .nav li{float:left; margin:0 5px}
.top_bar .nav li a{padding:0 5px;}
.top_bar .nav li a:hover{ background:#2b9eea; display:block; height:40px; color:#333;}
.top_bar .nav li a i{ width:12px; height:10px; float:right; margin-top:18px;}
.top_bar .nav li a i:hover{background:url(../images/common.png) no-repeat 0 -84px; }
.top_bar .nav li i{background:url(../images/common.png) no-repeat 0 -84px; width:12px; height:10px; float:right; margin-top:18px;}
.top_bar .Share01,.top_bar .Share02,.top_bar .Share03{background:url("../images/common.png") no-repeat; width:33px; height:33px; float:left; margin:5px 0 0 5px;}
.top_bar .Share01{ background-position:0 -142px;}
.top_bar .Share02{ background-position:-38px -141px;}
.top_bar .Share03{ background-position:-74px -141px;}
.coad{ position: absolute; margin:5px 0 0 -60px; z-index:30;}


/*头部*/
.header{ background:#f8f8f9; width:100%;}
.header .logo{float:left; margin:8px 0 8px 0;}
.header .main_nav .hover a{ color:#2b9eea;}
.header .main_nav{float:right; margin:30px 0 0 420px; position:absolute; z-index:10;}
.header .main_nav li{float:left; margin-left:30px;position:relative; z-index:20;font-size:18px; line-height:30px;}


/*各种弹窗*/
.w510{width:510px; margin:15px auto;}.w740{width:740px; margin:15px auto;}
.popup_bg{ background:#000; width:100%; height:100%; position:fixed; top:0px; left:0px; z-index:9999; filter:alpha(opacity=30);-moz-opacity:.30;opacity:0.3; _position:absolute; _height:2000px;}
.popup_tips{width:100%;background:#fff;position: absolute; z-index:100000;}
.popup_tips .popup_close{text-align:right; background:url("../images/popup.png") no-repeat 0 0;width:36px;height:36px;_position: absolute;margin:10px;cursor:pointer; display:block;}
.popup_tips .popup_close:hover{background:url("../images/popup.png") no-repeat -39px 0;}
.popup_tips .con{margin-top:20px;line-height:26px;padding:15px 30px;}
.popup_tips .con .bigtit{font-size:20px;color:#14508b;}
.popup_tips .con .info_top{background:#f4f9fc;border:1px solid #d6e3ec;padding:10px; margin:10px 0;}
.popup_tips .con .smalltit{font-size:16px;color:#333;border-bottom:1px solid #d6e3ec;margin-bottom:10px;}
.popup_tips .con .warn{border-top:1px solid #d6e3ec;padding:10px 30px;}
.popup_tips .con .info{ font-size:14px; line-height:26px;}
.popup_tips .con .bd{ font-size:14px; line-height:26px;padding-left:130px;}
.popup_tips .con .bd .text{border:1px solid #cdcdcd; height:26px; line-height:26px; font-family:"微软雅黑";padding-left:3px;}
.ui_w{background:url("../images/popup.png") no-repeat 0 -47px;width:22px;height:24px;display:block; float:left;}

.dialog{border:3px solid #629cd2;background:#fff;border-radius:10px;position: fixed;left:50%;top:50%;_position: absolute; _top:expression(200+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');z-index:100000; }
.dialog .con{margin-top:20px;padding:10px 30px 20px 30px;line-height:26px;}
.dialog .dialog_close{background:url("../images/popup.png") no-repeat 0 -339px;width:26px;height:26px;margin:5px;cursor:pointer; display:block;_position: absolute;}
.dialog .dialog_close:hover{background:url("../images/popup.png") no-repeat 0 -273px;}

.dialog .con .d_error{background:url("../images/popup.png") no-repeat 0 -86px; width:42px;height:42px;margin-right:10px;}
.dialog .con .d_perfect{background:url("../images/popup.png") no-repeat 0 -143px; width:42px;height:42px;margin-right:10px;}
.dialog .con .d_succeed{background:url("../images/popup.png") no-repeat 0 -208px; width:42px;height:42px;margin-right:10px;}

.dialog .con .info{padding-top:5px; font-size:16px;width:82%;}
.dialog .con .info p{margin-bottom:5px;}
.dialog_btn{margin-top:20px; text-align:center; margin-left:-17px;}
.dialog_btn a{width:88px; height:30px; display:inline-block; line-height:30px; text-align:center; color:#fff; margin:0 5px; font-size:14px;}
.ml100{margin-left:100px;}
.dialog_btn .btn{background:#b3b4ad; text-align:center;width:88px; height:36px;line-height:36px;color:#fff;font-family:"微软雅黑";display:inline-block;
    border-radius:3px; 
	-webkit-border-radius:3px; 
	-moz-border-radius:3px; 
	-ms-border-radius:3px; 
}
.dialog_btn .btn01{background:#024783; color:#fff;cursor:pointer;border:none;}
.dialog_btn .btn01:hover{background-position:-1px -134px;color:#fff;}
.dialog_btn .btn05{background-position:-111px -132px;color:#fff;cursor:pointer;border:none;}
.dialog_btn .btn05:hover{background-position:-111px -198px;color:#fff;}
.dialog .con .info .s_red{color:#ef1700;}
.dialog .con .info .s_red:hover{color:#fe928d;}
.dialog .con .borrowing{border-bottom:1px solid #d6e3ec;padding-bottom:10px;}

.add_card{font-size:14px;margin:15px 0 0 40px;}
.add_card ul{float:left;}
.add_card ul li{line-height:26px; display:block;float:left;margin-bottom:20px;}
.add_card ul li span,.add_card ul li div{display:block;float:left;}
.add_card ul li .tit{width:160px;text-align:right;}
.add_card ul li .info{width:400px;line-height:26px;}
.add_card ul li .info p{line-height:30px;}
.add_card ul li .put{margin-right:5px;width:244px;border:1px solid #d7d6d6;height:26px;font-size:14px;padding-left:3px; font-family:"microsoft yahei";}
.add_card ul li .put01{margin-right:5px;width:200px;border:1px solid #d7d6d6;height:26px;font-size:14px;padding-left:3px; font-family:"microsoft yahei";}
.add_card ul li .put02{margin-right:5px;width:80px;border:1px solid #d7d6d6;height:26px;font-size:14px;padding-left:3px; font-family:"microsoft yahei";}
.add_card ul li .put03{margin-right:5px;width:190px;border:1px solid #d7d6d6;height:26px;font-size:14px;padding-left:3px; font-family:"microsoft yahei";}
.add_card ul li .sel{margin-right:5px;line-height:26px;width:250px;border:1px solid #d7d6d6;height:26px;font-size:14px;padding-left:3px; font-family:"microsoft yahei";}
.add_card ul li .sel01{margin-right:5px;line-height:26px;width:122px;border:1px solid #d7d6d6;height:26px;font-size:14px;padding-left:3px; font-family:"microsoft yahei";}
.add_card ul li .text{ float:left;border:1px solid #cdcdcd; height:29px; line-height:29px; font-family:"微软雅黑";padding-left:3px;}
.ui_w{background:url("../images/popup.png") no-repeat 0 -47px;width:22px;height:24px;display:block; float:left;}

.phone_tips{border:3px solid #629cd2;background:#fff;z-index:99999; border-radius:10px;position: fixed;left:50%;top:50%;_position: absolute; _top:expression(200+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');z-index:100000; }
.phone_tips .popup_close{text-align:right; background:url("../images/popup.png") no-repeat 0 0;width:36px;height:36px;_position: absolute;margin:10px;cursor:pointer; display:block;}
.phone_tips .con{}
.phone_tips .con .bigtit{font-size:20px;color:#14508b;}
.phone_tips .con .con_info{border-bottom:1px solid #d6e3ec;padding:10px 30px 15px 30px;}
.phone_tips .con .smalltit{font-size:16px;color:#333;border-bottom:1px solid #d6e3ec;margin-bottom:10px;}
.phone_tips .con .warn{border-top:1px solid #d6e3ec;padding:10px 30px;}
.phone_tips .con .bd{ font-size:14px; line-height:26px;padding-left:130px;}
.phone_tips .con .bd .text{border:1px solid #cdcdcd; height:26px; line-height:26px; font-family:"微软雅黑";padding-left:3px;}
.ui_w{background:url("../images/popup.png") no-repeat 0 -47px;width:22px;height:24px;display:block; float:left;}

.phone_tips .blue_btn{background:url(../images/btn.png) no-repeat -238px -213px;display:block;text-align:center;width:124px;height:31px;line-height:29px;cursor:pointer;border:none;color:#fff; float:left;font-family:"微软雅黑";}
.phone_tips .blue_btn:hover{ background-position:-238px -263px;}
.phone_tips .gray_btn{background:url(../images/btn.png) no-repeat -238px -304px;display:block;text-align:center;width:124px;height:31px;line-height:29px;border:none;color:#fff; float:left;font-family:"微软雅黑";} 
